@tailwind base;
@tailwind components;
@tailwind utilities;

/*Side bar Hover Effect*/
.sidebar .nav {
  padding: 0 !important;
}

.sidebar ul li a:hover {
  background-color: #6ea46e;
}

/* Active Geolacate Icon */
.mapboxgl-ctrl
  button.mapboxgl-ctrl-geolocate.mapboxgl-ctrl-geolocate-active
  .mapboxgl-ctrl-icon {
  background-image: url("./assets/accident-active.svg");
  background-size: 20px 20px;
}

/* Unfocused Geolacate Icon */
.mapboxgl-ctrl
  button.mapboxgl-ctrl-geolocate.mapboxgl-ctrl-geolocate-background
  .mapboxgl-ctrl-icon {
  background-image: url("./assets/accident-idle.svg");
  background-size: 20px 20px;
}

/* Inactive Geolacate Icon *.mapboxgl-ctrl */
.mapboxgl-ctrl button.mapboxgl-ctrl-geolocate .mapboxgl-ctrl-icon {
  background-image: url("./assets/accident-inactive.svg");
  background-size: 20px 20px;
}

.nearest-rescuer-marker {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  animation: green-pulse 2s infinite;
}

.citizen-marker {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  animation: red-pulse 2s infinite;
}

.ctrl-group {
  position: absolute;
  right: 10px;
  top: 50px;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.ctrl-icon {
  background-color: white;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 29px;
  outline: none;
  overflow: hidden;
  padding: 0;
  width: 29px;
  z-index: 1;
  border-radius: 4px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

@keyframes red-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(255, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

@keyframes green-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.7);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(255, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}
